/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Styles */
:root {
    --main-font: 'Libre Baskerville', serif;
    --secondary-font: 'Lato', sans-serif;
}

h1, h2 {
    font-family: var(--main-font);
    font-size: 2rem;
}

p, h6, button {
    font-family: var(--secondary-font);
}

/* Modal */
.modal-container {
    display: flex;
    flex-direction: column;
}

/* Top Header */
.top-header {
    display: flex;
    justify-content: space-between;
}

.add-book-btn {
    border: 2px solid #FFD28E;
    background-color: #F4E7D8;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

.add-book-btn:hover {
    background-color: #FFD28E;
}

/* Main */
.main-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding: 20px;
}

.top-header {
    grid-row: 1;
    display: flex;
    align-items: center;
}

.bookshelf__content {
    grid-row: 2;
    background-color: #F4E7D8;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 140px);
    grid-auto-rows: 120px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
}

/* .bottom-header {
    grid-row: 3;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-content {
    grid-row: 4;
    background-color: #F4E7D8;
    border-radius: 15px;
} */

/* Body */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 47);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__top > p, h6, 
.card__bottom > p, h6 {
    color: white;
    font-size: 0.8rem;
}

.card__bottom > button {
    color: white;
    background-color: #A2742F;
    border: none;
    border-radius: 5px;
    margin: 3px;
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.card__top > button:hover,
.card__bottom > button:hover {
    background-color: #FFD28E;
    transition: 0.2s ease-in;
}

